@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/aaq1fxx.css");

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    font-family: "magistral", sans-serif;
}

#root {
    overflow: hidden;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }